---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.100:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: cde535a8.opdev.io
kind: ConfigMap
metadata:
  name: hello-world-operator-manager-config
