---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  creationTimestamp: null
  name: managedclustermigrations.global-hub.open-cluster-management.io
spec:
  group: global-hub.open-cluster-management.io
  names:
    kind: ManagedClusterMigration
    listKind: ManagedClusterMigrationList
    plural: managedclustermigrations
    shortNames:
    - mcm
    singular: managedclustermigration
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The overall status of the Migration
      jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagedClusterMigration is a global hub resource that allows
          you to migrate managed clusters from one hub to another
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec specifies the desired state of managedclustermigration
            properties:
              from:
                description: From specifies the source hub cluster from which the
                  managed clusters originate.
                type: string
              includedManagedClusters:
                description: |-
                  IncludedManagedClusters is an explicit list of managed clusters to include in the migration operation.
                  This field is mutually exclusive with IncludedManagedClustersPlacementRef.
                items:
                  type: string
                type: array
              includedManagedClustersPlacementRef:
                description: |-
                  IncludedManagedClustersPlacementRef specifies the name of a Placement resource
                  that determines which managed clusters are included in the migration operation.
                  The referenced Placement must be defined in the global hub agent namespace of the source hub cluster,
                  such as "multicluster-global-hub" or "multicluster-global-hub-agent".
                  This field is mutually exclusive with IncludedManagedClusters.
                type: string
              supportedConfigs:
                description: SupportedConfigs defines additional configuration options
                  for the migration
                properties:
                  stageTimeout:
                    description: StageTimeout defines the timeout duration for each
                      migration stage
                    type: string
                type: object
              to:
                description: To specifies the target hub cluster to which the managed
                  clusters will be migrated.
                type: string
            required:
            - from
            - to
            type: object
            x-kubernetes-validations:
            - message: exactly one of includedManagedClustersPlacementRef or includedManagedClusters
                must be specified
              rule: has(self.includedManagedClustersPlacementRef) != has(self.includedManagedClusters)
          status:
            description: Status specifies the observed state of managedclustermigration
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of the current state
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              phase:
                description: Phase represents the current phase of the migration
                enum:
                - Pending
                - Validating
                - Initializing
                - Deploying
                - Registering
                - Rollbacking
                - Cleaning
                - Completed
                - Failed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
