apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  creationTimestamp: null
  name: feastoperators.components.platform.opendatahub.io
spec:
  group: components.platform.opendatahub.io
  names:
    kind: FeastOperator
    listKind: FeastOperatorList
    plural: feastoperators
    singular: feastoperator
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Ready
      jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - description: Reason
      jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Reason
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FeastOperator is the Schema for the FeastOperator API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FeastOperatorSpec defines the desired state of FeastOperator
            properties:
              devFlags:
                description: Add developer fields
                properties:
                  manifests:
                    description: List of custom manifests for the given component
                    items:
                      properties:
                        contextDir:
                          default: manifests
                          description: contextDir is the relative path to the folder
                            containing manifests in a repository, default value "manifests"
                          type: string
                        sourcePath:
                          default: ""
                          description: 'sourcePath is the subpath within contextDir
                            where kustomize builds start. Examples include any sub-folder
                            or path: `base`, `overlays/dev`, `default`, `odh` etc.'
                          type: string
                        uri:
                          default: ""
                          description: uri is the URI point to a git repo with tag/branch.
                            e.g.  https://github.com/org/repo/tarball/<tag/branch>
                          type: string
                      type: object
                    type: array
                type: object
            type: object
          status:
            description: FeastOperatorStatus defines the observed state of FeastOperator
            properties:
              conditions:
                items:
                  properties:
                    lastHeartbeatTime:
                      description: |-
                        The last time we got an update on a given condition, this should not be set and is
                        present only for backward compatibility reasons
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human-readable message indicating
                        details about the transition.
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        The value should be a CamelCase string.
                      type: string
                    severity:
                      description: |-
                        Severity with which to treat failures of this type of condition.
                        When this is not specified, it defaults to Error.
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              observedGeneration:
                description: The generation observed by the resource controller.
                format: int64
                type: integer
              phase:
                type: string
              releases:
                items:
                  description: ComponentRelease represents the detailed status of
                    a component release.
                  properties:
                    name:
                      type: string
                    repoUrl:
                      type: string
                    version:
                      type: string
                  required:
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            type: object
        type: object
        x-kubernetes-validations:
        - message: FeastOperator name must be 'default-feastoperator'
          rule: self.metadata.name == 'default-feastoperator'
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
