apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: kepler-operator
  name: kepler-operator-kepler-admin-role
rules:
- apiGroups:
  - kepler.system.sustainable.computing.io
  resources:
  - keplers
  verbs:
  - '*'
- apiGroups:
  - kepler.system.sustainable.computing.io
  resources:
  - keplers/status
  verbs:
  - get
