apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: helm-chart-repo
  name: helm-chart-repo
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: helm-chart-repo
  type: ClusterIP
status:
  loadBalancer: {}
