apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: featuretrackers.features.opendatahub.io
spec:
  group: features.opendatahub.io
  names:
    kind: FeatureTracker
    listKind: FeatureTrackerList
    plural: featuretrackers
    singular: featuretracker
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: FeatureTracker represents a cluster-scoped resource in the Data
          Science Cluster, specifically designed for monitoring and managing objects
          created via the internal Features API. This resource serves a crucial role
          in cross-namespace resource management, acting as an owner reference for
          various resources. The primary purpose of the FeatureTracker is to enable
          efficient garbage collection by Kubernetes. This is essential for ensuring
          that resources are automatically cleaned up and reclaimed when they are
          no longer required.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FeatureTrackerSpec defines the desired state of FeatureTracker.
            properties:
              appNamespace:
                type: string
              source:
                description: Source describes the type of object that created the
                  related Feature to this FeatureTracker.
                properties:
                  name:
                    type: string
                  type:
                    type: string
                type: object
            type: object
          status:
            description: FeatureTrackerStatus defines the observed state of FeatureTracker.
            properties:
              conditions:
                items:
                  description: Condition represents the state of the operator's reconciliation
                    functionality.
                  properties:
                    lastHeartbeatTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: ConditionType is the state of the operator's reconciliation
                        functionality.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              phase:
                description: Phase describes the Phase of FeatureTracker reconciliation
                  state. This is used by OLM UI to provide status information to the
                  user.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
