apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  creationTimestamp: null
  name: accountings.slinky.slurm.net
spec:
  group: slinky.slurm.net
  names:
    kind: Accounting
    listKind: AccountingList
    plural: accountings
    shortNames:
    - slurmdbd
    singular: accounting
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: Accounting is the Schema for the accountings API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AccountingSpec defines the desired state of Accounting
            properties:
              external:
                default: false
                description: |-
                  external indicates if this component is external to Kubernetes or not.
                  If true, then externalConfig is used and other fields are ignored.
                type: boolean
              externalConfig:
                description: ExternalConfig describes how to communicate with this
                  external component.
                properties:
                  host:
                    description: Host defines the hostname or IP address to communicate
                      with.
                    type: string
                  port:
                    description: Port defines the port to communicate over.
                    type: integer
                required:
                - host
                - port
                type: object
              extraConf:
                description: |-
                  ExtraConf is appended onto the end of the `slurmdbd.conf` file.
                  Ref: https://slurm.schedmd.com/slurmdbd.conf.html
                type: string
              jwtHs256KeyRef:
                description: Slurm `auth/jwt` JWT HS256 key authentication.
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a
                      valid secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              service:
                description: Service defines a template for a Kubernetes Service object.
                properties:
                  metadata:
                    description: |-
                      Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: |-
                          Annotations is an unstructured key value map stored with a resource that may be
                          set by external tools to store and retrieve arbitrary metadata. They are not
                          queryable and should be preserved when modifying objects.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: |-
                          Map of string keys and values that can be used to organize and categorize
                          (scope and select) objects. May match selectors of replication controllers
                          and services.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels
                        type: object
                    type: object
                  nodePort:
                    description: |-
                      The port on each node on which this service is exposed when type is
                      NodePort or LoadBalancer.  Usually assigned by the system. If a value is
                      specified, in-range, and not in use it will be used, otherwise the
                      operation will fail.  If not specified, a port will be allocated if this
                      Service requires one.  If this field is specified when creating a
                      Service which does not need it, creation will fail.
                    type: integer
                  port:
                    description: The external service port number.
                    type: integer
                  spec:
                    description: ServiceSpec describes the attributes that a user
                      creates on a service.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                type: object
              slurmKeyRef:
                description: Slurm `auth/slurm` key authentication.
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a
                      valid secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              slurmdbd:
                description: |-
                  The slurmdbd container configuration.
                  See corev1.Container spec.
                  Ref: https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2885
                type: object
                x-kubernetes-preserve-unknown-fields: true
              storageConfig:
                description: StorageConfig is the configuration for mysql/mariadb
                  access.
                properties:
                  database:
                    default: slurm_acct_db
                    description: |-
                      Specify the name of the database as the location where accounting records
                      are written.
                      Default is "slurm_acct_db".
                      Ref: https://slurm.schedmd.com/slurmdbd.conf.html#OPT_StorageLoc
                    type: string
                  host:
                    description: |-
                      Define the name of the host the database is running where we are going to
                      store the data.
                      Ref: https://slurm.schedmd.com/slurmdbd.conf.html#OPT_StorageHost
                    type: string
                  passwordKeyRef:
                    description: |-
                      PasswordKeyRef is a reference to a secret containing the password for the
                      user, specified by username, to access the given database.
                      Ref: https://slurm.schedmd.com/slurmdbd.conf.html#OPT_StoragePass
                    properties:
                      key:
                        description: The key of the secret to select from.  Must be
                          a valid secret key.
                        type: string
                      name:
                        default: ""
                        description: |-
                          Name of the referent.
                          This field is effectively required, but due to backwards compatibility is
                          allowed to be empty. Instances of this type with an empty value here are
                          almost certainly wrong.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        type: string
                      optional:
                        description: Specify whether the Secret or its key must be
                          defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  port:
                    default: 3306
                    description: |-
                      The port number that the Slurm Database Daemon (slurmdbd) communicates
                      with the database.
                      Default is 3306.
                      Ref: https://slurm.schedmd.com/slurmdbd.conf.html#OPT_StoragePort
                    type: integer
                  username:
                    description: |-
                      Define the name of the user we are going to connect to the database with
                      to store the job accounting data.
                      Ref: https://slurm.schedmd.com/slurmdbd.conf.html#OPT_StorageUser
                    type: string
                required:
                - host
                - passwordKeyRef
                type: object
              template:
                description: |-
                  Template is the object that describes the pod that will be created if
                  insufficient replicas are detected.
                  More info: https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller#pod-template
                properties:
                  metadata:
                    description: |-
                      Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: |-
                          Annotations is an unstructured key value map stored with a resource that may be
                          set by external tools to store and retrieve arbitrary metadata. They are not
                          queryable and should be preserved when modifying objects.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: |-
                          Map of string keys and values that can be used to organize and categorize
                          (scope and select) objects. May match selectors of replication controllers
                          and services.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels
                        type: object
                    type: object
                  spec:
                    description: PodSpec is a description of a pod.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                type: object
            type: object
            x-kubernetes-validations:
            - message: slurmKeyRef must be set when external is false
              rule: '!self.external ? has(self.slurmKeyRef) : true'
            - message: jwtHs256KeyRef must be set when external is false
              rule: '!self.external ? has(self.jwtHs256KeyRef) : true'
            - message: externalConfig must be set when external is true
              rule: 'self.external ? has(self.externalConfig) : true'
          status:
            description: AccountingStatus defines the observed state of Accounting
            properties:
              conditions:
                description: Represents the latest available observations of a Accounting's
                  current state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
