name: Github pull request labels

on:
  issue_comment:
    types: [created, edited]
  pull_request_review:
    types: [ submitted ]

permissions:
  contents: read
  pull-requests: write

jobs:
  comment-handler:
    uses: redhat-openshift-ecosystem/github-workflows/.github/workflows/label-command.yml@main
