apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: patch-operator-webhook-service
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: patch-operator
status:
  loadBalancer: {}
